 <div class='modal fade' id='modal' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
        <h4 class='modal-title' id='myModalLabel'>Inventory Item Details</h4>
      </div>
      <div class='modal-body'>
        <form class="form" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" />
          <div class='form-group'>
          <label for='inputText1' id='myModalLabel2'>New Expense Type Name</label>
          <input class='form-control' ng-model="modal_capture" id='modal_capture' placeholder='New Expense Type' type='text'>
          </div>
        </form>

      </div>
      <div class='modal-footer'>
        <button class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
        <button class='btn btn-primary' ng-click="save_modal()" type='button'>Save</button>
      </div>
    </div>
  </div>
</div>


<h3>Treatment For <strong>{{patient.first_name}} {{patient.last_name}}</strong></h3>
<br/>

	<table>
		<tr>
			<th>Select Fees Type:</th>
			<th>
		              <select ng-change="change_fee(this)" required class="select2 form-control" id="selected_fee" ng-model="treatment.selected_fee">
		              <option value="">Choose...</option>
		              <option ng-repeat="(key,value) in fees" value="{{key}}" ng-selected="{{key == treatment.selected_fee}}">{{value.name}}</option>
		              </select>
			</th>
			<th>Amount:</th><th><input size="5" ng-model="treatment.amount" type="text"></th>
			<th>%(Sharing Amount):</th><th><input ng-model="treatment.sharing_amount" size="5" type="text"></th>
			<th>High BP:</th><th><input size="5" ng-model="treatment.high_bp" type="text"></th>
			<th>Low BP:</th><th><input size="5" ng-model="treatment.low_bp" type="text"></th>
			<th>Pulse:</th><th><input size="5" ng-model="treatment.pulse" type="text"></th>
		</tr>
	</table>
	<br>
	<hr>
<div class="col-sm-12 box" style="margin-bottom: 0">
                  <div class="box-header red-background">
                    <div class="title">Treatment Modules</div>
                    <div class="actions">
                      <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                      </a>
                      
                      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                      </a>
                    </div>
                  </div>
                  <div class="box-content">
                    <div class="tabbable">
                      <ul class="nav nav-tabs nav-tabs-simple">
                        <li class="active">
                          <a class="green-border" data-toggle="tab" onclick="treatment(1)">
                            <i class="icon-indent-left"></i>
                            Referral
                          </a>
                        </li>
                        <li>
                          <a data-toggle="tab" onclick="treatment(2)">
                            <i class="icon-edit text-red"></i>
                           Diagnosis
                          </a>
                        </li>
                        <li>
                          <a data-toggle="tab" onclick="treatment(3)">
                            <i class="icon-edit text-left"></i>
                           Drug
                          </a>
                        </li>
                        <li>
                          <a data-toggle="tab" onclick="treatment(4)">
                            <i class="icon-edit text-red"></i>
                           Investigation
                          </a>
                        </li>
                        <li>
                          <a data-toggle="tab" onclick="treatment(5)">
                            <i class="icon-edit text-left"></i>
                           History
                          </a>
                        </li>
                        <li>
                          <a data-toggle="tab" onclick="treatment(6)">
                            <i class="icon-edit text-red"></i>
                           Notes Advice
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
		<div id="treatment_1" class="treatment active">
			<h5>Referral</h5>
			<table>
				<tr>
					<th>Hospital/Clinic<font style="color:red">*</font></th>
					<td>
		              <select required  class="select2 form-control" id="referral_id" ng-model="referral_id">
		              <option value="">Choose...</option>
		              <option ng-repeat="(key,value) in referral_clinics" value="{{key}}" ng-selected="{{key == register.referral_id}}">{{value}}</option>
		              </select>
					</td>
				</tr>
				<tr>
					<th>Comment<font style="color:red">*</font></th><td><textarea class="form-control" ng-model="referral_comment"></textarea></td>
				</tr>	
				<tr>
					<td colspan="2" align="right">
						<button class="btn btn-danger" ng-click="reset_referral()">Reset</button>
						<span ng-if="referral_edit==-1"><button class="btn btn-success" ng-click="add_referral()">Add</button></span>
						<span ng-if="referral_edit!=-1"><button class="btn btn-info" ng-click="update_referral()">Update</button></span>
					</td>
				</tr>			
			</table>

			<table class="table table-responsive table-striped">
				<tr>
					<th>Clinic Name</th>
					<th>Comment</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="referral in treatment.referral track by $index">
					<td>{{referral_clinics[referral.clinic_id]}}</td>
					<td>{{referral.comment}}</td>
					<td><button ng-click="edit_referral($index)" class="btn btn-warning btn-block">Edit</button></td>
					<td><button ng-click="delete_referral($index)" class="btn btn-danger btn-block">Delete</button></td>
				</tr>
			</table>
		</div>	

		<div id="treatment_2" class="treatment">
			<h5>Diagnosis</h5>
			<table>
				<tr>
					<th>ICD 10<font style="color:red">*</font></th>
					<td>
		              <select required  class="select2 form-control" id="icd10_id" ng-model="icd10_id">
		              <option value="">Choose...</option>
		              <option ng-repeat="(key,value) in icd10" value="{{key}}" ng-selected="{{key == icd10_id}}">{{value}}</option>
		              </select>					
					</td>
				</tr>

				<tr>
					<th>Dignosis<font style="color:red">*</font></th>
					<td>
		              <select required  class="select2 form-control" id="diagnosis_id" ng-model="diagnosis_id">
		              <option value="">Choose...</option>
		              <option ng-repeat="(key,value) in diagnosis" value="{{key}}" ng-selected="{{key == diagnosis_id}}">{{value}}</option>
		              </select>
						<i ng-click="trigger_new_modal('diagnosis','Diagnosis')" class="icon-plus-sign pull-right">Add New Diagnosis</i>
						<br/>		              
					</td>
				</tr>

				<tr>
					<th>Other Diagnosis<font style="color:red">*</font></th><td><textarea class="form-control" ng-model="diagnosis_other_comment"></textarea></td>
				</tr>

				<tr>
					<th>Comment</th><td><textarea class="form-control" ng-model="diagnosis_comment"></textarea></td>
				</tr>	

				<tr>
					<td></td>
					<td colspan="" align="right">
						<button class="btn btn-danger" ng-click="diagnosis_reset()">Reset</button>
						<span ng-if="diagnosis_edit==-1"><button class="btn btn-success" ng-click="add_diagnosis()">Add</button></span>
						<span ng-if="diagnosis_edit!=-1"><button class="btn btn-info" ng-click="update_diagnosis()">Update</button></span>
					</td>
				</tr>			
			</table>	

			<table class="table table-responsive table-striped">
				<tr>
					<th>IDC 10</th>
					<th>Diagnosis</th>
					<th>Other Diagnosis</th>
					<th>Comment</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="dia in treatment.diagnosis track by $index">
					<td>{{icd10[dia.icd10_id]}}</td>
					<td>{{diagnosis[dia.diagnosis_id]}}</td>
					<td>{{dia.other_diagnosis}}</td>
					<td>{{dia.comment}}</td>

					<td><button ng-click="edit_diagnosis($index)" class="btn btn-warning btn-block">Edit</button></td>
					<td><button ng-click="delete_diagnosis($index)" class="btn btn-danger btn-block">Delete</button></td>
				</tr>
			</table>					
		</div>



<div id="treatment_3" class="treatment">
	<h5>Drug</h5>
			<table>
				<tr>
					<th>Drug<font style="color:red">*</font><br/><i ng-click="trigger_new_modal('drug','Drug')" class="icon-plus-sign pull-right">Add New Drug</i></th>
					<th>Type<font style="color:red">*</font></th>
					<th>Qty<font style="color:red">*</font></th>
					<th style="width: 250px;">Dose<font style="color:red">*</font></th>
					<th>Days<font style="color:red">*</font></th>
					<th>Condition</th>
					<th>Remarks</th>
					<th>Options</th>
				</tr>			

				<tr>
					<td>
						<select required  class="select2 form-control" id="drug_id" ng-model="drug_id">
						<option value="">Choose...</option>
						<option ng-repeat="(key,value) in all_drugs" value="{{key}}" ng-selected="{{key == drug_id}}">{{value}}</option>
						</select>
					</td>
					<td>
						<select required  class="select2 form-control" id="drug_type_id" ng-model="drug_type_id">
						<option value="">Choose...</option>
						<option ng-repeat="(key,value) in all_drug_types" value="{{key}}" ng-selected="{{key == drug_type_id}}">{{value}}</option>
						</select>						
					</td>
					<td><input ng-model="drug_qty" type="text" size="2" /></td>
					<td>
						<input style="float:left;margin-right:3px;" ng-model="drug_dose_1" type="text" size="2" />
						<input ng-model="drug_dose_2" type="text" size="2" />
						<input ng-model="drug_dose_3" type="text" size="2" />
						<input ng-model="drug_dose_4" type="text" size="2" />
					</td>
					<td><input ng-model="drug_days" type="text" size="2" /></td>
					<td><textarea ng-model="drug_condition"></textarea></td>
					<td><textarea ng-model="drug_remarks"></textarea></td>
					<td>
						<button class="btn btn-danger" ng-click="drug_reset()">Reset</button>
					</td>
					<td colspan="" align="right">
						<span ng-if="drug_edit==-1"><button class="btn btn-success btn-block" ng-click="add_drugs()">Add</button></span>
						<span ng-if="drug_edit!=-1"><button class="btn btn-info btn-block" ng-click="update_drugs()">Update</button></span>
					</td>
				</tr>
			</table>	
			<table id="presc" class="table table-responsive table-striped">
				<tr>
					<th>Drug</th>
					<th>Type</th>
					<th>Qty</th>
					<th>Dose</th>
					<th>Days</th>
					<th>Condition</th>
					<th>Remarks</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="drug in treatment.drugs track by $index">
					<td>{{all_drugs[drug.drug_id]}}</td>
					<td>{{all_drug_types[drug.drug_type_id]}}</td>
					<td>{{drug.drug_qty}}</td>
					<td>{{drug.drug_dose_1}}-{{drug.drug_dose_2}}-{{drug.drug_dose_3}}-{{drug.drug_dose_4}}</td>
					<td>{{drug.drug_days}}</td>
					<td>{{drug.drug_condition}}</td>
					<td>{{drug.drug_remarks}}</td>
					<td><button ng-click="edit_drugs($index)" class="btn btn-warning btn-block">Edit</button></td>
					<td><button ng-click="delete_drugs($index)" class="btn btn-danger btn-block">Delete</button></td>
				</tr>
			</table>
</div>




<div id="treatment_4" class="treatment">
	<h5>Investigation</h5>
			<table>
				<tr>
					<th>Investigation<font style="color:red">*</font></th>
					<td>
						<select required  class="select2 form-control" id="investigation_id" ng-model="investigation_id">
						<option value="">Choose...</option>
						<option ng-repeat="(key,value) in all_investigations" value="{{key}}" ng-selected="{{key == investigation_id}}">{{value}}</option>
						</select>						
						<i ng-click="trigger_new_modal('investigation','Investigation')" class="icon-plus-sign pull-right">Add New Investigation</i>
						<br/>
					</td>
				</tr>
				<tr>
					<th>Remark</th><td><textarea class="form-control" ng-model="investigation_remark"></textarea></td>
				</tr>	
				<tr>
					<th>Referred Lab<font style="color:red">*</font></th>
					<td>
						<select required  class="select2 form-control" id="investigation_ref" ng-model="investigation_ref">
						<option value="">Choose...</option>
						<option ng-repeat="(key,value) in referral_clinics" value="{{key}}" ng-selected="{{key == investigation_ref}}">{{value}}</option>
						</select>							
					</td>
				</tr>				
				<tr>
					<td colspan="2" align="right">
						<button class="btn btn-danger" ng-click="investigation_reset()">Reset</button>
						<span ng-if="investigation_edit==-1"><button class="btn btn-success" ng-click="add_investigation()">Add</button></span>
						<span ng-if="investigation_edit!=-1"><button class="btn btn-info" ng-click="update_investigation()">Update</button></span>
					</td>
				</tr>			
			</table>

			<table class="table table-responsive table-striped">
				<tr>
					<th>Investigation</th>
					<th>Remark</th>
					<th>Referred Lab</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="inv in treatment.investigation track by $index">
					<td>{{all_investigations[inv.investigation_id]}}</td>
					<td>{{inv.remark}}</td>
					<td>{{referral_clinics[inv.ref_id]}}</td>
					
					<td><button ng-click="edit_investigation($index)" class="btn btn-warning btn-block">Edit</button></td>
					<td><button ng-click="delete_investigation($index)" class="btn btn-danger btn-block">Delete</button></td>
				</tr>
			</table>	
</div>

		<div id="treatment_5" class="treatment">
			<h5>History</h5>
			<table>
				<tr>
					<td>
						<select class="select2 form-control" onclick="HideShowHistory(this.value)">
							<option value="1">Allergy</option>
						</select>
					</td>
				</tr>
				<tr id="history_1">
					<td>
						<table>
							<tr>
								<th>Type</th>
								<td>
									<select required  class="select2 form-control" id="allergy_type_id" ng-model="allergy_type_id">
									<option value="">Choose...</option>
									<option ng-repeat="(key,value) in allergy_types" value="{{key}}" ng-selected="{{key == allergy_type_id}}">{{value}}</option>
									</select>										
								</td>
							</tr>

							<tr>
								<th>Generic Name</th>
								<td>
									<select required  class="select2 form-control" id="allergy_generic_name_id" ng-model="allergy_generic_name_id">
									<option value="">Choose...</option>
									<option ng-repeat="(key,value) in allergy_generic_names" value="{{key}}" ng-selected="{{key == allergy_generic_name_id}}">{{value}}</option>
									</select>										
								</td>
							</tr>

							<tr>
								<th>Drug Name</th>
								<td>
									<select required  class="select2 form-control" id="allergy_drug_name_id" ng-model="allergy_drug_name_id">
									<option value="">Choose...</option>
									<option ng-repeat="(key,value) in allergy_drug_names" value="{{key}}" ng-selected="{{key == allergy_drug_name_id}}">{{value}}</option>
									</select>										
								</td>
							</tr>	

							<tr>
								<th>Other</th>
								<td>
									<input type="text" class="form-control" ng-model="allergy_other">								
								</td>
							</tr>																			

							<tr>
								<th>Reaction</th>
								<td>
									<input type="text" class="form-control" ng-model="allergy_reaction">	
								</td>
							</tr>	
							<tr>
							<td colspan="2" align="right">
							<button class="btn btn-danger" ng-click="allergy_reset()">Reset</button>
							<span ng-if="allergy_edit==-1"><button class="btn btn-success" ng-click="add_allergy()">Add</button></span>
							<span ng-if="allergy_edit!=-1"><button class="btn btn-info" ng-click="update_allergy()">Update</button></span>
							</td>
							</tr>																										
						</table>
					</td>
				</tr>
			</table>
			<table class="table table-responsive table-striped">
				<tr>
					<th>Type</th>
					<th>Generic Name</th>
					<th>Drug Name</th>
					<th>Other</th>
					<th>Reaction</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="a in treatment.history.allergy track by $index">
					<td>{{allergy_types[a.allergy_type_id]}}</td>
					<td>{{allergy_generic_names[a.allergy_generic_name_id]}}</td>
					<td>{{allergy_drug_names[a.allergy_drug_name_id]}}</td>
					<td>{{a.other}}</td>
					<td>{{a.reaction}}</td>
					
					<td><button ng-click="edit_allergy($index)" class="btn btn-warning btn-block">Edit</button></td>
					<td><button ng-click="delete_allergy($index)" class="btn btn-danger btn-block">Delete</button></td>
				</tr>
			</table>	

		</div>	

		<div id="treatment_6" class="treatment">
			<h5>Notes Advice</h5>
			<table>
				<tr>
					<th>Notes</th>
					<td>
						<textarea class="form-control" ng-model="note"></textarea>
					</td>
				</tr>
				<tr>
					<th>Advice</th>
					<td>
						<textarea class="form-control" ng-model="advice"></textarea>
					</td>
				</tr>	
				<tr>
					<td colspan="2" align="right">
						<button class="btn btn-danger" ng-click="na_reset()">Reset</button>
						<span ng-if="na_edit==-1"><button class="btn btn-success" ng-click="add_notes()">Add</button></span>
						<span ng-if="na_edit!=-1"><button class="btn btn-info" ng-click="update_notes()">Update</button></span>
					</td>
				</tr>			
			</table>

			<table class="table table-responsive table-striped">
				<tr>
					<th>Notes</th>
					<th>Advice</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="na in treatment.notes_n_advice track by $index">
					<td>{{na.note}}</td>
					<td>{{na.advice}}</td>
					<td><button ng-click="edit_note_n_advice($index)" class="btn btn-warning btn-block">Edit</button></td>
					<td><button ng-click="delete_note_n_advice($index)" class="btn btn-danger btn-block">Delete</button></td>
				</tr>
			</table>			
		</div>		
                        
                      </div>
                    </div>
                  </div>
                </div>

	<center>
	



		<button class="btn btn-success" id="sav" ng-click="done()">Submit</button>
		<button class="btn btn-success" id="bil" ng-click="bpp()">Bill And Print Prescription</button>
	</center>

<style type="text/css">
	.treatment{
		display: none;
	}
	.treatment.active{
		display: block;
	}
</style>	