<div class='row'>
<div class='col-sm-12'>
  <div class='box bordered-box blue-border'>
    <div class='box-header blue-background'>
      <div class='title'>
        <i class='icon-circle'></i>
        Add New Doctor to Clinic
      </div>
    </div>
    <div class='box-content box-double-padding'>
      <form class='form' style='margin-bottom: 0;' name='myForm'>
        <fieldset>
          <div class='col-sm-6'>
            <div class='form-group'>
              <h3>Clinic Name: <strong style="color:red">{{clinic.clinic_name}}</strong></h3>
            </div>

            <div class='form-group' id="search_doctor_container">
              <label>Search Master</label>
              <input class="form-control" autocomplete="off" data-items='1' data-provide='typeahead' data-source='' id='global_doctors' ng-model='search_doctor_text' type="text">
            </div>

            <div class='form-group'>
              <label>Doctor First Name<font style="color:red">*</font></label>
              <input class="form-control" id='first_name' ng-model='doctor.first_name' type="text">
            </div>
            <div class='form-group'>
              <label>Doctor Middle Name</label>
              <input class="form-control" id='middle_name' ng-model='doctor.middle_name' type="text">
            </div>
            <div class='form-group'>
              <label>Doctor Last Name<font style="color:red">*</font></label>
              <input class="form-control" id='last_name' ng-model='doctor.last_name' type="text">
            </div>
            <div class='form-group'>
              <label>Mobile No<font style="color:red">*</font></label>
              <input class="form-control" placeholder="+91 9673173727" id="mobile_no_1" name="mobile_no_1" ng-model="doctor.mobile_no_1" type="text" required  ng-pattern="validate_mobile_no">
              <span style="color:red" ng-if="myForm.mobile_no_1.$error.required">Mobile Number Is Mandatory</span>
              <span style="color:red" ng-if="myForm.mobile_no_1.$error.pattern"><br>Invalid Mobile No</span>
            </div>
            <div class='form-group'>
              <label>Mobile No 2</label>
              <input class="form-control" placeholder="+91 9673173727" id="mobile_no_2" name="mobile_no_2" ng-model="doctor.mobile_no_2" type="text"  ng-pattern="validate_mobile_no">
              <span style="color:red" ng-if="myForm.mobile_no_2.$error.pattern"><br>Invalid Mobile No</span>
            </div>


            <div class='form-group'>
              <label>Email 1<font style="color:red">*</font></label>
              <input class="form-control" data-rule-email="true" data-rule-required="true" id="email_1" name="email_1" ng-model="doctor.email_1" placeholder="E-mail 1" type="text">
            </div>

            <div class='form-group'>
              <label>Doctor Fees</label>
              <input class="form-control" data-rule-required="true" id="doctor_fees" name="doctor_fees" ng-model="doctor.doctor_fees" placeholder="Doctor Fees" type="text">
            </div>

            <div class='form-group'>
              <label>Doctor Procedure Charge</label>
              <input class="form-control" data-rule-required="true" id="doctor_procedure_charge" name="doctor_procedure_charge" ng-model="doctor.doctor_procedure_charge" placeholder="Doctor Procedure Charge" type="text">
            </div>

            <div class='form-group'>
              <label>Special Fees</label>
              <input class="form-control" data-rule-required="true" id="special_fees" name="special_fees" ng-model="doctor.special_fees" placeholder="Special Fees" type="text">
            </div>


          </div>


          <div class='col-sm-6'>
            <div class='form-group'>
              <h3>Clinic Code: <strong style="color:red">{{clinic.clinic_code}}</strong></h3>
            </div>

            <div class='form-group'>
              <label>Country<font style="color:red">*</font></label>
              <select  class="select2 form-control" id="country_id" ng-model="doctor.country_id">
              <option value="">Choose...</option>
              <option ng-repeat="option in countries" value="{{option.id}}" ng-selected="{{option.id == doctor.country_id}}">{{option.name}}</option>
              </select>
            </div>
            <div class='form-group'>
              <label>State<font style="color:red">*</font></label>
              <select  class="select2 form-control" id="state_id" ng-model="doctor.state_id">
              <option value="">Choose...</option>
              <option ng-repeat="option in states" value="{{option.id}}" ng-selected="{{option.id == doctor.state_id}}">{{option.name}}</option>
              </select>
            </div>
            <div class='form-group'>
              <label>City<font style="color:red">*</font></label>
              <select  class="select2 form-control" id="city_id" ng-model="doctor.city_id">
              <option value="">Choose...</option>
              <option ng-repeat="option in cities" value="{{option.id}}" ng-selected="{{option.id == doctor.city_id}}">{{option.name}}</option>
              </select>
            </div>
            <div class='form-group'>
              <label>Area</label>
              <select  class="select2 form-control" id="area_id" ng-model="doctor.area_id">
              <option value="">Choose...</option>
              <option ng-repeat="option in areas" value="{{option.id}}" ng-selected="{{option.id == doctor.area_id}}">{{option.name}}</option>
              </select>
            </div>
            <div class='form-group'>
              <label>Address<font style="color:red">*</font></label>
              <textarea rows="1" id="address" ng-model="doctor.address" class="autosize form-control" placeholder="Address" style="overflow: hidden; word-wrap: break-word; resize: horizontal;"></textarea>
            </div>

            <div class='form-group'>
              <label>Specialties<font style="color:red">*</font></label>
              <select  class="select2 form-control" id="specialties" ng-model="selected_specialties" multiple>
              <option value="">Choose...</option>
              <option ng-repeat="option in specialties" value="{{option.id}}" ng-selected="check_if_specialty_selected(option.id)">{{option.name}}</option>
              </select>
            </div>

            <div class='form-group'>
              <label>Doctor Fees(%)</label>
              <input class="form-control" data-rule-required="true" id="doctor_fees_per" name="doctor_fees_per" ng-model="doctor.doctor_fees_per" placeholder="Doctor Fees" type="text">
            </div>

            <div class='form-group'>
              <label>Doctor Procedure Charge(%)</label>
              <input class="form-control" data-rule-required="true" id="doctor_procedure_charge_per" name="doctor_procedure_charge_per" ng-model="doctor.doctor_procedure_charge_per" placeholder="Doctor Procedure Charge" type="text">
            </div>

            <div class='form-group'>
              <label>Special Fees(%)</label>
              <input class="form-control" data-rule-required="true" id="special_fees_per" name="special_fees_per" ng-model="doctor.special_fees_per" placeholder="Special Fees" type="text">
            </div>            
          </div>
        </fieldset>

        <div class='form-actions'>
          <div class='row'>
            <div class='col-sm-7 col-sm-offset-5'>
              <div class='btn btn-primary btn-lg' id="save" ng-click="save()">
                <i class='icon-save'></i>
                Save
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
</div>

