<div class='login-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-4'>
        <h1 class='text-center title'>Change Password</h1>
        <form class='validate-form' name="myForm" method='post' ng-submit="submit_form()">

			<div class='form-group'>
				<div class='controls with-icon-over-input'>
					<input autocomplete="off" type="password" class="form-control" placeholder="New Password" id="old_password" name="old_password" ng-model="formData.old_password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
					<i class='icon-lock text-muted'></i>
					<span ng-show="myForm.old_password.$error.required && myForm.old_password.$dirty">required</span>
					<span ng-show="!myForm.old_password.$error.required && (myForm.old_password.$error.minlength || myForm.old_password.$error.maxlength) && myForm.old_password.$dirty">old passwords must be between 8 and 20 characters.</span>
					<span ng-show="!myForm.old_password.$error.required && !myForm.old_password.$error.minlength && !myForm.old_password.$error.maxlength && myForm.old_password.$error.pattern && myForm.old_password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
				</div>
			</div>

			<div class='form-group'>
				<div class='controls with-icon-over-input'>
					<input autocomplete="off" type="password" class="form-control" placeholder="New Password" id="new_password" name="new_password" ng-model="formData.new_password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
					<i class='icon-lock text-muted'></i>
					<span ng-show="myForm.new_password.$error.required && myForm.new_password.$dirty">required</span>
					<span ng-show="!myForm.new_password.$error.required && (myForm.new_password.$error.minlength || myForm.new_password.$error.maxlength) && myForm.new_password.$dirty">new_passwords must be between 8 and 20 characters.</span>
					<span ng-show="!myForm.new_password.$error.required && !myForm.new_password.$error.minlength && !myForm.new_password.$error.maxlength && myForm.new_password.$error.pattern && myForm.new_password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
				</div>
			</div>
			<div class='form-group'>
				<div class='controls with-icon-over-input'>
					<input autocomplete="off" type="password" class="form-control" placeholder="Confirm New Password" id="confirm_new_password" name="confirm_new_password" ng-model="formData.confirm_new_password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"  ng-required="true" ng-keyup="match_passwords()"/>
					<i class='icon-lock text-muted'></i>
					<span ng-show="myForm.confirm_new_password.$error.required && myForm.confirm_new_password.$dirty">Please confirm your password.</span>
				</div>
			</div>
		  <button type="submit" class="btn btn-success  btn-block" ng-disabled="!myForm.$valid">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>