<div class='row'>
<div class='col-sm-12'>
  <div class='box bordered-box blue-border'>
    <div class='box-header blue-background'>
      <div class='title'>
        <i class='icon-circle'></i>
        Manage Slots By Selecting Doctor
      </div>
      		<button ng-click="ok()" class="btn btn-success pull-right">Save</button>
    </div>
    <br/>
	<button style="margin-right:40px;" ng-repeat="doctor in doctors" ng-click="set_doctor(doctor.user_master_id, doctor.doctor_master_id)" class="btn btn-danger">
		{{doctor.name}}
	</button>
	<br/><br/>

		<div class='row'>

			<div class='col-sm-12 box'  ng-repeat='(key, value) in slots'>
			  <div class='box-content'>
			    <div class='accordion accordion-red panel-group' id='{{key}}' style='margin-bottom:0;'>
			      <div class='panel panel-default'>
			        <div class='panel-heading'>
			          <button class="btn btn-info btn-block" ng-click="collapse_toggle(key)">{{key}}</button>
			        </div>
			        <div class='panel-collapse collapse in' id='collapseOne-{{key}}'>
			          <div class='panel-body'>
			            <div class='form-group'>
			              <div class='input-group date col-xs-4' id='datetimepicker{{key}}'>
			                  <input type='text' placeholder="Valid Till" class="form-control" value="{{valid_till}}" id="valid_till_{{key}}"/>
			                  <span class="input-group-addon">
			                      <span class="fa fa-calendar">
			                      </span>
			                  </span>
			              </div>
			            </div>
			            <span class="clearfix"></span>
			           		<button  class="btn col-md-3" ng-click="set_val(key,($index+1))" ng-class="check_class(key,($index+1))" id="{{key}}_{{$index+1}}" ng-hide="v.availability=='1'" ng-repeat="v in value track by $index">{{v.slot}}</button>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>	
	</div>
</div>
</div>