<div class='row'>
<div class='col-sm-12'>
  <div class='box bordered-box blue-border'>
    <div class='box-header blue-background'>
      <div class='title'>
        <i class='icon-circle'></i>
        Manage Slots By Selecting Doctor
      </div>
    </div>
    <br/>
	<button style="margin-right:40px;" ng-repeat="doctor in doctors" ng-click="set_doctor(doctor.user_master_id, doctor.doctor_master_id)" class="btn btn-danger">
		{{doctor.name}}
	</button>
	<br/><br/>
	<table class="table">
		<tr>
			<th>
				Day
			</th>
			<th>Slot A</th>
			<th>Slot B</th>
			<th>Slot C</th>
			<th>Slot D
			<button ng-click="ok()" class="btn btn-success pull-right">Save</button>
			</th>
		</tr>
		<tr ng-repeat="(key, value) in slots">
			<th>{{key}}</th>
			<td ng-repeat="s in sl track by $index">
				<div style="font-size:12px;height:100px;overflow-y:scroll;overflow-y: scroll;">
					<p ng-repeat="v in value"><input id="{{key}}_{{s}}_{{$index+1}}" ng-click="set_val(key,s,$index+1)" class="{{key}}_{{s}}" ng-disabled="v.availability" type="checkbox">{{v.slot}}</p>
				</div>
			</td>
		</tr>
	</table>


	</div>
</div>
</div>